body {
    font-size: 72px;
    font-family: 'Raleway';
    text-align: center;
    background: black;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}